<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    * {
        font-family: simhei;
    }
    
    #app {
        max-width: 640px;
        margin: 50px auto;
    }
    
    #child-component {
        display: none;
    }
    
    .parent-content,
    .child-content {
        height: 150px;
        padding: 20px;
    }
    
    .parent-cotent {
        border: 1px solid #0090D3;
    }
    
    .child-content {
        border: 1px solid #ff0066;
    }
    </style>
</head>

<body>
    <div id="app">
        <div class="parent-content">
            <h2>父组件内容:</h2>
            <input type="text" v-model="msg">
            <button @click="notify">Broadcast Event</button>
        </div>
        <child-component>
        </child-component>
    </div>
    <template id="child-component">
        <div class="child-content">
            <h2>子组件内容:</h2>
            <ul>
                <li v-for="item in messages">
                    父组件录入了信息:{{item}}
                </li>
            </ul>
        </div>
    </template>
    <script src="js/vue.js"></script>
    <script>
    Vue.component('child-component', {
        template: '#child-component',
        data() {
            return {
                messages: []
            }
        },
        events: {
            'parent-msg' (msg) {
                this.messages.push(msg)
            }
        }
    })

    new Vue({
        el: '#app',
        data: {
            msg: ''
        },
        methods: {
            notify() {
                if (this.msg.trim()) {
                    this.$broadcast('parent-msg', this.msg)
                    this.msg = ''
                }
            }
        }
    })
    </script>
</body>

</html>
