<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-父子组件</title>
  <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
  <template id="aaa">
    <div>
      <h3 @click="change">{{msg}}</h3>
      <aba></aba>
    </div>
  </template>
  <template id="bbb">
    <div>
      <h3 @click="change">{{msg}}</h3>
      <bab></bab>
    </div>
  </template>
  <div id="box">
    <button @click="a='aaa'">aaa组件</button>
    <button @click="a='bbb'">bbb组件</button>
    <component :is="a"></component>
    <bbb></bbb>
  </div>
  <script>
    new Vue({
      el: '#box',
      data: {
        a: 'aaa'
      },
      components: {
        'aaa': {
          template: '#aaa',
          data() {
            return {
              msg: '父组件aaa'
            }
          },
          methods: {
            change() {
              this.msg = "改变了父组件aaa"
            }
          },
          components: {
            'aba': {
              template: '<h3>aaa的子组件aba</h3>'
            }
          }
        },
        'bbb': {
          template: '#bbb',
          data() {
            return {
              msg: '父组件bbb'
            }
          },
          methods: {
            change() {
              this.msg = "改变了父组件bbb"
            }
          },
          components: {
            'bab': {
              template: '<h3>bbb的子组件bab</h3>'
            }
          }
        }
      }
    })
  </script>
</body>
</html>