<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-父子组件通信3</title>
  <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
  <template id="aaa">
    <div>
      <h3 @click="change">{{msg}} and {{obj}}</h3>
      <aba :zzz="obj"></aba>
    </div>
  </template>
  <template id="bbb">
    <div>
      <h3 @click="change">{{msg}}</h3>
      <bab :xxx="msg" :yyy="num"></bab>
    </div>
  </template>
  <div id="box">
    <button @click="a='aaa'">aaa组件</button>
    <button @click="a='bbb'">bbb组件</button>
    <component :is="a"></component>
    <bbb></bbb>
  </div>
  <script>
  // vue1.0可以更改父组件数据,并且可以同步更改到父组件数据中,通过给自定义属性挂.sync
  // vue2.0不允许直接更改父组件数据,即不允许对传过来的父组件数据做赋值操作
  // 如果想要更改,采用以下两种方式
  // 1. 父组件传一个对象类型的数据给子组件,子组件通过更改对象的属性来更新父组件数据
  // 2. 如果只是想要不报错,通过声明周期函数mounted中转即可
    new Vue({
      el: '#box',
      data: {
        a: 'aaa'
      },
      components: {
        'aaa': {
          template: '#aaa',
          data() {
            return {
              msg: '父组件aaa',
              obj: {
                a: '小明',
                b: 18
              }
            }
          },
          methods: {
            change() {
              this.msg = "改变了父组件aaa"
            }
          },
          components: {
            'aba': {
              props: ['zzz'],
              template: '<h3 @click="change">aaa的子组件:{{zzz.a}}->{{zzz.b}}</h3>',
              methods: {
                change() {
                  this.zzz.a = '小红'
                }
              }
            }
          }
        },
        'bbb': {
          template: '#bbb',
          data() {
            return {
              num: 555,
              msg: '父组件bbb',
            }
          },
          methods: {
            change() {
              this.msg = "改变了父组件bbb"
            }
          },
          components: {
            'bab': {
              // props: ['xxx', 'yyy'],
              props: {
                xxx: String,
                yyy: Number
              },
              template: '<h3 @click="change">bbb的子组件:{{msg}}->{{yyy}}</h3>',
              data() {
                return {
                  msg: ''
                }
              },
              mounted() {
                this.msg = this.xxx
              },
              methods: {
                // 在子组件中改变父组件传来的数据(不推荐,vue会警告),不允许直接修改父组件传来的数据
                change() {
                  this.msg = 'bbb的子组件bab'
                }
              }
            }
          }
        }
      }
    })
  </script>
</body>
</html>